:root {
    --cor-texto-primario: ;
    --cor-texto-segundario: ;
    --cor-fundo-primario: #f5bc76 ;
    --cor-fundo-segundario: #fad034;
    --fonte-principal: ;
    --espacamento: ;
    --tamanho-fonte: ;
}

